.zhuce {
  padding: 5px 0 5px 20px;
}
.zhuce p {
  font-size: 14px;
  line-height: 24px;
  padding: 0.5em 0;
  float: left;
  width: 100%;
  font-weight: 700;
}
.zhuce p a {
  color: #333;
}
.zhuce p a:hover {
  color: #8C0001;
}
.zhuce .zhuce-input1 {
  padding: 10px 0;
}
.zhuce .zhuce-input1 span {
  display: inline-block;
  width: 100px;
  line-height: 28px;
  text-align: left;
}
.zhuce .zhuce-input1 span em {
  color: red;
}
.zhuce .zhuce-input1 input {
  color: #333;
  width: 230px;
  height: 24px;
  line-height: 20px;
  padding: 2px 0;
  font-size: 12px;
  outline: 0;
}
.zhuce .zhuce-input1 > i {
  display: inline-block;
  margin-left: 10px;
  clear: both;
  color: #c00;
  padding-top: 5px;
  line-height: 20px;
}
.zhuce-tijiao {
  display: inline-block;
  min-width: 65px;
  height: 30px;
  border: 0;
  text-align: center;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  line-height: 30px;
  box-sizing: border-box;
  padding: 0;
  background-color: #8C0001;
  color: #FFF;
  border-color: #8C0001;
  margin-left: 100px;
}
